<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WEBEclipseStudy</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>

  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error/page-not-found-error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/jsp/error/error.jsp</location>
  </error-page>

  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>by.horsego.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/home/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/admin/admin-games/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/admin/admin-horses/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/admin/admin-users/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/user/main/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/bookmaker/bookmaker-main/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>homePage</servlet-name>
    <jsp-file>/WEB-INF/jsp/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>homePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logInPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/log-in.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logInPage</servlet-name>
    <url-pattern>/log-in</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signUpPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/sign-up.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUpPage</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>settingsPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/settings.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>settingsPage</servlet-name>
    <url-pattern>/user/main/settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginSettingsPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/login-settings.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSettingsPage</servlet-name>
    <url-pattern>/user/main/login-settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nameSettingsPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/name-settings.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>nameSettingsPage</servlet-name>
    <url-pattern>/user/main/name-settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>passwordSettingsPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/password-settings.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordSettingsPage</servlet-name>
    <url-pattern>/user/main/password-settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mainPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainPage</servlet-name>
    <url-pattern>/user/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createBetPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/create-bet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>createBetPage</servlet-name>
    <url-pattern>/user/main/create-bet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gamesHistoryPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/games-history.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>gamesHistoryPage</servlet-name>
    <url-pattern>/user/main/games-history</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>betsHistoryPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/bets-history.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>betsHistoryPage</servlet-name>
    <url-pattern>/user/main/bets-history</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>walletPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/wallet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>walletPage</servlet-name>
    <url-pattern>/user/main/wallet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>singleHorsePage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/single-horse.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>singleHorsePage</servlet-name>
    <url-pattern>/user/main/single-horse</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>galleryPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/gallery.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>galleryPage</servlet-name>
    <url-pattern>/user/gallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>errorPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/error/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>errorPage</servlet-name>
    <url-pattern>/user/error</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>adminGamesPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/admin-games.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminGamesPage</servlet-name>
    <url-pattern>/admin/admin-games</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminSingleGamePage</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/admin-single-game.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSingleGamePage</servlet-name>
    <url-pattern>/admin/admin-games/admin-single-game</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminHorsesPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/admin-horses.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminHorsesPage</servlet-name>
    <url-pattern>/admin/admin-horses</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>adminSingleHorsePage</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/admin-single-horse.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSingleHorsePage</servlet-name>
    <url-pattern>/admin/admin-horses/admin-single-horse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminUsersPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/admin-users.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminUsersPage</servlet-name>
    <url-pattern>/admin/admin-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminSingleUserPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/admin-single-user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSingleUserPage</servlet-name>
    <url-pattern>/admin/admin-users/admin-single-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chooseSingleUserPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/choose-find-user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseSingleUserPage</servlet-name>
    <url-pattern>/admin/admin-users/admin-choose-user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>bookmakerMainPage</servlet-name>
    <jsp-file>/WEB-INF/jsp/bookmaker/bookmaker-main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookmakerMainPage</servlet-name>
    <url-pattern>/bookmaker/bookmaker-main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookmakerSingleGamePage</servlet-name>
    <jsp-file>/WEB-INF/jsp/bookmaker/bookmaker-single-game.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookmakerSingleGamePage</servlet-name>
    <url-pattern>/bookmaker/bookmaker-main/bookmaker-single-game</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>EncodingUTF8Filter</filter-name>
    <filter-class>by.horsego.filter.EncodingUTF8Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingUTF8Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>by.horsego.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>by.horsego.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>BookmakerFilter</filter-name>
    <filter-class>by.horsego.filter.BookmakerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BookmakerFilter</filter-name>
    <url-pattern>/bookmaker/*</url-pattern>
  </filter-mapping>
  
</web-app>